@using StonksWebApp.Services
@{
    string? token = Context.Request.Cookies["sessionToken"];
    var (tokenValid, session) = LoginManagerService.Instance.CheckUserSessionToken(token??"");
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StonksWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/htmx/htmx.min.js"></script>
    <style>
            .hover-effect:hover {
                background-color: grey;
            }
    </style>
</head>
    <body class="d-flex flex-column h-100">
        <div class="row container-fluid min-vh-80">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                <div style="height: 70vh; overflow-y: auto;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-4">Stonks App</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <hr>
                        <li class="nav-item">
                            <a href="/" class="nav-link text-white hover-effect" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Privacy" class="nav-link text-white hover-effect">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                Privacy
                            </a>
                        </li>
                        @if (tokenValid && session?.Role == "admin")
                        {
                            <li>
                                <a asp-area="" asp-page="/Admin/Admin" class="nav-link text-white hover-effect">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                    Admin
                                </a>
                            </li>
                        }
                        <hr>
                        @if (tokenValid)
                        {
                            <div class="dropdown">
                                <a href="/Account" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="favicon.ico" alt="" width="32" height="32" class="rounded-circle me-2">
                                    <strong>@session?.Name</strong>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                    <li><a class="dropdown-item" href="#">New project...</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <li>
                                <a href="/Login" class="nav-link text-white hover-effect">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                    Login
                                </a>
                            </li>
                            <li>
                                <a href="/Register" class="nav-link text-white hover-effect">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                    Register
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-lg-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
             </div>
        </div>


        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                &copy; 2024 - StonksWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
}