@page "/Admin"
@model StonksWebApp.Pages.AdminModel
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div id="databaseFilterContainer" class="mb-3">
                <form hx-get="/Admin?handler=Companies" hx-trigger="submit" hx-target="#databaseListViewer" hx-swap="innerHTML">
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <label class="input-group-text" for="textInput">Search</label>
                        <input id="textInput" name="searchInput" type="text" class="form-control"/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div id="databaseListViewer" class="overflow-auto" style="min-height: 300px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <form method="post" asp-page-handler="UpdateSingleValue">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label class="form-label">Add Ticker To Database:</label>
                        <div class="input-group">
                            <input type="text" id="tickerInput" name="ticker" class="form-control" required/>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <form method="post" enctype="multipart/form-data" asp-page-handler="UpdateFromCsv">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label class="form-label" for="csvFile">Add tickers from CSV:</label>
                        <div class="input-group">
                            <input type="file" id="csvFile" name="csvFile" class="form-control" accept=".csv" required>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <form hx-get="/Admin?handler=GetFilings" hx-swap="innerHTML" hx-target="#filingDatabaseViewer" hx-trigger="submit" class="mb-3">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <label class="input-group-text" for="searchInput">Search company filings</label>
                    <input type="text" name="searchInput" id="searchInput" class="form-control" required>
                    <select name="formType" class="form-select">
                        <optgroup label="SEC">
                            <option value="10-K">10-K</option>
                            <option value="10-Q">10-Q</option>
                            <option value="S-1">S-1</option>
                            <option value="S-3ASR">S-3</option>
                            <option value="F-1">F-1</option>
                            <option value="8-K">8-K</option>
                            <option value="4">FORM 4</option>
                        </optgroup>
                        <optgroup label="FDA">
                            <option>Test</option>
                        </optgroup>
                    </select>
                    <label class="input-group-text" for="fromDate">From:</label>
                    <input name="fromDate" id="fromDate" type="date" class="form-control"/>
                    <label class="input-group-text" for="toDate">To:</label>
                    <input name="toDate" id="toDate" type="date" class="form-control"/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <img class="htmx-indicator" src="../spinner.gif" height="30" />
            </form>
            <div id="filingDatabaseViewer">
                
            </div>
        </div>
    </div>
</div>