@page "/Portfolio/{id}"
@using StonksWebApp.Services
@model StonksWebApp.Pages.Portfolio.PortfolioDetailsModel
@{
    var db = DatabaseConnectionService.Instance;
    var portfolio = db.GetPortfolio(Model.PortfolioId);
}

<div>
    <h1>@portfolio.Name</h1>
    
    
    <div id = "TradesListContainer">
        @{
            await Html.RenderPartialAsync("_tradesListPartial", portfolio.Trades);
        }
    </div>
</div>