@model (string ticker, bool contains);
@{
    if (!Model.contains)
    {
        <form id = "WatchlistToggleContainer">
            <button hx-post="/Stonks/@Model.ticker?handler=AddToWatchlist&add=true" hx-swap="outerHTML" hx-target="#WatchlistToggleContainer">
                @Html.AntiForgeryToken()
                Add
            </button>
        </form>
    }
    else
    {
        <form id="WatchlistToggleContainer">
            <button hx-post="/Stonks/@Model.ticker?handler=AddToWatchlist&add=false" hx-swap="outerHTML" hx-target="#WatchlistToggleContainer">
                @Html.AntiForgeryToken()
                Remove
            </button>
        </form>
    }
}
