@page "/Stonks/{Ticker}"
@model StonksWebApp.Pages.Stonks.StonkDetailsModel
@{
    ViewData["Title"] = "Stonks - " + Model.Ticker;
}
<div>
    <h1>
        @Model.Name
    </h1>
    <div>
        <div id="StonkGraphContainer">

        </div>
        <script >
            
        </script>
    </div>
</div>

