@page "/Stonks/{Ticker}"
@model StonksWebApp.Pages.Stonks.StonkDetailsModel
@{
    ViewData["Title"] = "Stonks - " + Model.Ticker;
}
<div>
    <h1>
        @Model.Ticker
    </h1>
    <div>
        <div id="StonkGraphContainer">
            <form hx-post="/Stonks/@Model.Ticker?handler=StockGraph&interval=hour&range=week"
                  hx-swap="outerHTML"
                  hx-trigger="load">
                @Html.AntiForgeryToken()
                <img class="htmx-indicator" src="../spinner.gif" height="30"/>
            </form>
        </div>
    </div>
</div>

