@page "/Stonks"
@model StonksWebApp.Pages.Stonks.StonksModel
@{
    ViewData["Title"] = "Stonks";
}

<div>
    <form>
        @Html.AntiForgeryToken()
        <h2>Search stonks</h2>
        <input hx-post="/Stonks?handler=QueryStonks" 
               hx-target="#StonksListContainer" 
               hx-swap="innerHTML" 
               hx-trigger="keyup changed delay:500ms" 
               name="ticker" 
               type="text" />
    </form>
    
    <div id="StonksListContainer">

    </div>
</div>
