@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container py-5">
    <div class="row">
        <form>
            <div class="col-md-6">
                <div class="feature-card p-4 mb-4 shadow-lg rounded">
                    <div class="d-flex align-items-center mb-3">
                        <span class="icon">
                            <i class="bi bi-file-earmark-text fs-3 me-3"></i>
                        </span>
                        <h2>FDA and SEC Document Quick Lookup</h2>
                    </div>
                    <p>Instantly access FDA and SEC documents related to pharmaceutical companies. Stay informed about drug approvals, clinical trials, financial reports, and more.</p>
                </div>
            </div>
        </form>
        <form>
            <div class="col-md-6">
                <div class="feature-card p-4 mb-4 shadow-lg rounded">
                    <div class="d-flex align-items-center mb-3">
                        <span class="icon">
                            <i class="bi bi-graph-up fs-3 me-3"></i>
                        </span>
                        <h2>Company Financial Screening</h2>
                    </div>
                    <p>Perform comprehensive financial analysis on companies. Evaluate financial health, assess growth potential, and make informed investment decisions.</p>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form>
            <div class="col-md-6">
                <div class="feature-card p-4 mb-4 shadow-lg rounded">
                    <div class="d-flex align-items-center mb-3">
                        <span class="icon">
                            <i class="bi bi-bar-chart fs-3 me-3"></i>
                        </span>
                        <h2>FDA and News Sentiment Analysis</h2>
                    </div>
                    <p>Gain insights into market sentiment by analyzing FDA announcements and news articles. Understand public opinion trends and make data-driven trading decisions.</p>
                </div>
            </div>
        </form>
        <form>
            <div class="col-md-6">
                <div class="feature-card p-4 mb-4 shadow-lg rounded">
                    <div class="d-flex align-items-center mb-3">
                        <span class="icon">
                            <i class="bi bi-journal-richtext fs-3 me-3"></i>
                        </span>
                        <h2>Mock Trading Portfolios</h2>
                    </div>
                    <p>Practice trading strategies risk-free with mock trading portfolios. Experiment with different investment approaches and refine your skills before investing real money.</p>
                </div>
            </div>
        </form>
    </div>
</div>


