@using StonksWebApp.Services
@using StonksWebApp.models
@model StonksWebApp.Services.UserSession

@functions
{
    double CalculatePortfolioValue(PortfolioModel model)
    {
        var positions = DatabaseConnectionService.Instance.GetOpenPositions(model.Id);
        double value = 0;
        foreach (var pos in positions)
        {
            var currentPrice = FetchingService.GetCurrentPrice(pos.Ticker);
            var change = pos.IsLong ? currentPrice.CurrentPrice - pos.EntryPrice : pos.EntryPrice - currentPrice.CurrentPrice;
            value += pos.EntryPrice + change;
        }
        return model.Capital + value;
    }
}

@{
    var user = DatabaseConnectionService.Instance.GetUser(Model.Name);
    var portfolios = DatabaseConnectionService.Instance.GetPortfolios(user?.Username ?? "");
}

<div>
    <ul class="list-group">
        @foreach (var portfolio in portfolios)
        {
            var currentValue = CalculatePortfolioValue(portfolio);
            var initialValue = portfolio.StartCapital;
            var difference = currentValue - initialValue;
            var colour = difference > 0 ? "text-success" : "text-danger";
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="/Portfolio/@portfolio.Id" class="fw-bold">@portfolio.Name</a>
                    <span>
                        <span class="me-2">Value: @currentValue</span>
                        <span class="@colour">@difference</span>
                    </span>
                </div>
            </li>
        }
    </ul>
</div>
